*,
::before,
::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#banner {
  position: fixed;
  top: 0;
  left: 0;
}

#items{
	position:absolute;
	top: 40%;
	right: 0;
}

.item{
  height: 200px;
	display: flex;
	border-bottom: 2px solid black;
	width: clamp(900px, 20vw, 1500px);
	margin-bottom: 15px;
	position: relative;
  overflow: hidden;
}

.item__slash{
  width: 2px;
  height: 40%;
  background: black;
  position: absolute;
  bottom: 25px;
  left: -180px;
  transform: rotate(-25deg) translateX(50px);
  opacity: 0;
}

.item__index{
  position: absolute;
  bottom: 25px;
  left: -80px;
  transform: translateX(50px);
  opacity: 0;
}

.item__left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  padding: 25px 0;
  transform: translateY(70%);
}

.item__image{
  width: 100%;
  overflow: hidden;
  aspect-ratio: 500/333;
}

.item__image-inner{
	width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.item__right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 0%;
  padding: 25px 0 25px 25px;
}
